@media screen and (max-width: 940px) {
  .page__content {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 720px) {
  .page__content {
    padding-right: 0;
    padding-left: 0;
  }
}
