.profile__description {
  font-size: 18px;
  line-height: 1.222;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media screen and (max-width: 720px) {
  .profile__description {
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 36px;
    text-align: center;
  }
}
