.profile__info {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 294px 24px;
  column-gap: 18px;
}

@media screen and (max-width: 940px) {
  .profile__info {
    margin-right: 5px;
  }
}

@media screen and (max-width: 720px) {
  .profile__info {
    margin-right: 0;
    margin: 26px 0 0 0;
    grid-template-columns: 189px 18px;
  }
}
