.card__like {
  height: 19px;
  width: 22px;
  background-color: transparent;
  background-image: url(../../../images/card-like.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.card__like:hover {
  opacity: 0.5;
}
